services:
  - type: web
    name: hikima
    env: docker
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: PORT
        value: 10000
    healthCheckPath: /api/health
    autoDeploy: true
